
/* body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: rgba(224, 224, 224, 1);
    overflow-x: hidden;
    font-family: Lato;
    display: flex;
flex-direction: column;
min-height: 100vh;       
  } */
#container{
  position: relative;
}

        input:focus {
          outline: none; /* Menghapus border saat elemen dalam keadaan fokus */
        }
/*         
        @media only screen and (orientation: landscape) {
          html {
            font-size: 1vw;
          }
        }
        
        @media only screen and (orientation: portrait) {
          html {
            font-size: 2vh;
          }
        } */
        
        
.slice-window-container {

 /* display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 1em;
 justify-content: flex-start;
 align-items: flex-start;
 align-content: flex-start;
 max-width: 100%; */
 min-height: 92vh;
 margin: 0vh 0vh 7vh 0vh;
 /* overflow-x: hidden;
 background: none;
 padding: 5px 5px 5px 5px;
 transition: 0.2s; */
}



.slicer-menu-container {

 display: flex;
 position: fixed;
 z-index: 9999;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 1em;
 justify-content: flex-end;
 align-items: center;
 align-content: center;
 top:93%;
 width: 100vw;
 min-height: 8vh;
 overflow-x: hidden;
 background-color: #212121;
 color: #e6e6e6;
 padding: 7px 33px 10px 33px;
 transition: 0.2s;
}



.slicer-save-component {

 display: flex;
 flex-direction: column;
 gap: 1em;
 justify-content: flex-start;
 width: 18em;
 height: 5vh;
 background-color: rgba(67, 163, 163, 0);
 outline-style: solid;
 outline-width: 0.05em;
 outline-color: rgba(181, 181, 181, 0.7);
 border-radius: 050px 050px 050px 050px;
 transition: 0.5s;
 cursor: pointer;
}



.slicer-save-component:hover {

 background-color: rgba(0, 97, 97, 0.84);
 outline-style: solid;
 outline-width: 0.05em;
 outline-color: rgba(1, 69, 111, 1);
 color: #f0f0f0;
}


.slice-and-save-button {

 display: flex;
 flex-direction: row;
 gap: 1em;
 justify-content: center;
 align-items: center;
 height: 5vh;
 background: none;
 padding: 6% 1% 1% 1%;
}



.slicer-options {

 display: flex;
 flex-direction: column;
 gap: 1em;
 justify-content: flex-start;
 order: 1;
 width: 4em;
 height: 5vh;
 background-color: rgba(67, 163, 163, 0);
 outline-style: solid;
 outline-width: 0.05em;
 outline-color: rgba(181, 181, 181, 0.7);
 border-radius: 03px 03px 03px 03px;
 padding: 1% 1% 1% 1%;
 transition: 0.5s;
 cursor: pointer;
}



.slicer-options:hover {

 background-color: rgba(0, 97, 97, 0.84);
 outline-style: solid;
 outline-width: 0.05em;
 outline-color: rgba(1, 69, 111, 1);
 color: #f0f0f0;
}


.slicer-options-button {

 display: flex;
 flex-direction: row;
 gap: 1em;
 justify-content: center;
 align-items: center;
 align-content: center;
 height: 5vh;
 background: none;
 padding: 0% 1% 1% 1%;
}

      
.slicer-fixed-loading {

  display: flex;
  position: fixed;
  z-index: 99990;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgba(18, 38, 38, 1);
  font-family: Lato;
  padding: 5px 5px 5px 5px;
  transition: 0.2s;
 }
 
 .slicer-loading {
  animation: rotate360 2s infinite linear; 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background: none;
  color: #e6e6e6;
  font-size: 5em;
  padding: 1% 1% 1% 1%;
 }
 @keyframes rotate360 {
  from {
      transform: rotate(0deg); /* Mulai rotasi dari sudut 0 derajat */
  }
  to {
      transform: rotate(360deg); /* Rotasi hingga 360 derajat */
  }
}
 
 
 .slicer-text {
  animation: scaleAndFade 5s infinite;
  max-width: 100%;
  color: #f0f0f0;
  font-size: 5em;
  font-weight: 600;
  padding: 1% 1% 1% 1%;
 }

 @keyframes scaleAndFade {
  0% {
      transform: scale(1); /* Ukuran awal: 100% */
      opacity: 1; /* Opasitas awal: 1 (tidak transparan) */
  }
  50% {
      transform: scale(1.3); /* Ukuran tengah: 130% */
      opacity: 0.7; /* Opasitas tengah: 0.7 */
  }
  100% {
      transform: scale(1); /* Kembali ke ukuran awal: 100% */
      opacity: 1; /* Kembali ke opasitas awal: 1 */
  }
}

.slicer-prepare-end {
  animation: slideOut 1s ease 0.5s 1 normal forwards;
}

@keyframes slideOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* Slicer Class */
.slicer-idle {
  opacity: 0.9 !important;
  outline-style: solid;
  outline-width: 0.025em;
  outline-offset: 0.0em;
  animation: outline-animation-idle 1s infinite alternate;
  outline-color: rgba(64, 150, 242, 1);
 }

 .slicer-handle-hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
  outline-width: 2em;
  outline-offset: 0.0em;
  outline-color: rgb(242, 64, 117);
 }

 .slicer-idle::after {
  content: "";
  background-color: #212121;
  box-sizing: border-box;
}

 @keyframes outline-animation-idle {
  0% {
    outline-offset: 0.0em;
  }
  100% {
    outline-offset: -0.5em;
  }
}

.slicer-saved {
  cursor: default;
  outline-style: solid;
  outline-width: 0.025em;
  /* outline-offset: 0.0em; */
  outline-color: rgb(0, 88, 182);
 }

 #slicer-compose-slicer{
  width: 0px;
  height: 0px;
  background-color: #212121;
 }

 .success-sliced {
  /* Mengatur durasi animasi menjadi 0.5 detik */
  animation-duration: 0.5s;
  /* Mengatur fungsi timing animasi (opsional) */
  animation-timing-function: ease-out;
  /* Menentukan nama animasi yang akan digunakan */
  animation-name: fadeOutScaleDown;
}

/* Membuat animasi dengan nama fadeOutScaleDown */
@keyframes fadeOutScaleDown {
  /* Frame awal animasi */
  from {
      transform: scaleX(1);
      opacity: 1;
  }
  /* Frame akhir animasi */
  to {
      transform: scaleX(0);
      opacity: 0;
  }
}


/* Slicer Class End*/

/*Slicer Form Options */

.slice-option-container {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position:fixed;
  gap: 1em;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.14);
  padding: 5px 5px 5px 5px;
  transition: 0.2s;
  z-index: 99991;
  animation: form-fade-in 1s ease 0s 1 normal forwards;
 }
 @keyframes form-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
 
 
 .slicer-slice-form {
 
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  min-height: 30vh;
  background-color: rgba(25, 41, 38, 1);
  padding: 1% 1% 1% 1%;
  cursor: move;
  animation: form-slide-in 0.5s ease 0s 1 normal backwards;
 }
 @keyframes form-slide-in {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.opacity-animation {
  animation: fadeOut 0.2s ease forwards;
}

 
 .slicer-slice-fieldset {
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 5vh;
  background: none;
  border-style: solid;
  border-top-width: 0.25px;
  border-right-width: 0.25px;
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
  border-color: rgba(92, 96, 95, 1);
  padding: 1% 1% 1% 1%;
  cursor: default;
 }
 
 
 
 .slicer-slice-fieldset:hover {
 
  border-style: solid;
  border-top-width: 0.25px;
  border-right-width: 0.25px;
  border-bottom-width: 0.25px;
  border-left-width: 0.25px;
  border-color: rgba(92, 96, 95, 1);
 }
 
 
 .slicer-label-name {
 
  display: inline;
  width: 40%;
  color: #f0f0f0;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicer-name-input {
 
  display: inline;
  flex-grow: 1;
  width: 55%;
  background-color: rgba(11, 19, 19, 0.84);
  color: #32b8b8;
  padding: 0px 0px 0px 6px;
 }
 
 
 .slicer-name-input::placeholder {
     color: rgba(0, 255, 255, 0.55);
 }
 .slicer-label-slicing {
 
  display: inline;
  width: 40%;
  color: #f0f0f0;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicer-slice-legend {
 
  max-width: 50%;
  color: #37b3b3;
  font-weight: 300;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicer-option-input {
 
  display: inline;
  width: 55%;
  background-color: rgba(13, 18, 18, 0.84);
  border-style: none;
  border-color: rgba(NaN, 12, NaN, 1);
  color: #5cadad;
  padding: 4px 0px 4px 3px;
 }
 
 
 
 .slicer-option-input:hover {
 
  border-style: none;
  border-color: rgba(NaN, 12, NaN, 1);
 }
 
 
 .lazyclass499 {
 
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 5vh;
  background: none;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slice-saveslice-button {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 4vh;
  background-color: rgba(10, 77, 77, 0.84);
  color: #e6e6e6;
  padding: 1.5% 1% 1% 1%;
  transition: 0.3s;
  cursor: pointer;
 }
 
 
 
 .slice-saveslice-button:hover {
 
  background-color: rgba(23, 114, 114, 0.84);
 }
 
 
 .slice-save-button-label {
 
  max-width: 100%;
  padding: 1% 1% 1% 1%;
  cursor: pointer;
 }
 
 
 
 .lazyclass6015 {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 4vh;
  background-color: rgba(209, 31, 31, 0.84);
  color: #e6e6e6;
  padding: 2% 1% 1% 1%;
  transition: 0.3s;
  cursor: pointer;
 }
 
 
 
 .lazyclass6015:hover {
 
  background-color: rgba(114, 23, 23, 0.84);
 }
 
 
 .slice-cancel-label-button {
 
  max-width: 100%;
  padding: 1% 1% 1% 1%;
  cursor: pointer;
 }
 
/*Slicer Form Options End /

/* SLicer Array */

.enterence-animation {
  animation: fade-in-class 0.5s ease-in-out backwards;
}

@keyframes fade-in-class {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.enterence2-animation {
  animation: fade-in-class2 0.2s ease-in-out 0.2s backwards;
}

@keyframes fade-in-class2 {
  from {
    opacity: 0;
    transform: translateY(50px); /* Mengubah nilai transform untuk efek yang lebih baik */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.exit-animation {
  animation: fade-out-class 0.3s ease-in-out forwards;
}


@keyframes fade-out-class {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.exit-animation2 {
  animation: fade-out-class2 0.3s ease-in-out forwards;
}

@keyframes fade-out-class2 {
  from {
    opacity: 1;
    transform: translateY(0); /* Mengubah nilai transform untuk efek yang lebih baik */
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

.slicer-array-wrapper {

  display: flex;
  z-index: 99992;
  position:fixed;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: flex-end;
  align-content: flex-end;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0em 0.2em 4.8em 0em;
  transition: 0.2s;
 }
 
 
 
 .slicer-list-container {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  width: 25em;
  height: 75vh;
  background-color: #303030;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .sliced-items-head {
 
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgba(33, 33, 33, 0.77);
  padding: 2% 1% 1% 0%;
  transition: 0.3s;
 }
 
 
 
 .sliced-items-head:hover {
 
  color: #2d0101;
 }
 
 
 .slicer-h3-sliced {
 
  display: inline-flex;
  width: 70%;
  text-align: left;
  color: #e6e6e6;
  font-size: 1.2em;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .close-icon-container {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10vh;
  background-color: rgba(202, 68, 68, 1);
  font-size: 2rem;
  padding: 1% 1% 1% 1%;
  transition: 0.5s;
  cursor: pointer;
 }
 
 
 
 .close-icon-container:hover {
 
  background-color: rgba(242, 49, 49, 0.5);
  color: #c4c4c4;
 }
 
 
 .sliced-items-body {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  background-color: rgba(38, 38, 38, 0.93);
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicer-arrays-container {
 
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-start;
  width: 100%;
  height: 3em;
  background-color: rgba(40, 88, 88, 0.45);
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .lazyclass208 {
 
  display: inline;
  width: 70%;
  color: #78d3a9;
  font-size: 1em;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicer-wrapper-11 {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  width: 30%;
  background: none;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicer-button-view {
 
  display: block;
  max-width: 100%;
  height: 20px;
  background-color: rgba(112, 189, 163, 0.6);
  border-radius: 015px 015px 015px 015px;
  color: #292929;
  padding: 0rem 1rem 1.5rem 1rem;
  transition: 0.5s;
  cursor: pointer;
 }
 
 
 
 .slicer-button-view:hover {
 
  background-color: rgba(81, 205, 157, 0.5);
  color: #e6e6e6;
 }
 
 
 .lazyclass4214 {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  width: 30%;
  background: none;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicer-button-delete {
 
  display: block;
  max-width: 100%;
  height: 20px;
  background-color: rgba(227, 69, 69, 1);
  border-radius: 015px 015px 015px 015px;
  color: #2c2b2b;
  padding: 0rem 1rem 1.5rem 1rem;
  transition: 0.5s;
  cursor: pointer;
 }
 
 
 
 .slicer-button-delete:hover {
 
  background-color: rgba(255, 41, 41, 0.89);
  color: #e6e6e6;
 }
 
/* Slicer Array End*/

/* Slicer Save Container */

.slice-save-container {

  display: flex;
  position: fixed;
  z-index: 999993;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: none;
  padding: 5px 5px 5px 5px;
  transition: 0.2s;
 }
 
 
 
 .slice-save-wrapper {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 10em;
  background-color: rgba(23, 43, 40, 1);
  box-shadow:  0.38em 0.58em 0.88em -0.24em rgba(43, 43, 43, 0.5);
  padding: 1% 1% 1% 1%;
  animation: scaleAnimationSlicing 0.3s ease backwards;;
 }
 
 
 @keyframes scaleAnimationSlicing {
   0% {
     transform: scaleX(0);
   }
   100% {
     transform: scaleX(1);
   }
 }
 .lazyclass633 {
 
  max-width: 100%;
  color: #00ffff;
  padding: 1% 1% 1% 1%;
 }
 
 
 
 .slicing-save-button {
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.842);
  font-weight: 700;
  padding: 1% 1% 1% 1%;
  transition: 0.5s;
  cursor: pointer;
 }
 
 
 
 .slicing-save-button:hover {
 
  background-color: #212121;
  color: #00ffff;
 }
 
 #slice-saving-icon {
 font-size: 2rem;
   animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
/* Slicer Save Container End*/