<html>
    <head>
        <title>Hello World</title>
        <%- include('jsa-head') %>
    </head>
    <body>
        <section id="js-press-dashboard-container" class="js-press-dashboard-container">
            
<style>
.container-1935369e1bb1 {

 display: flex;
 width: 100%;
 min-height: 100px;
 gap: 1em;
 flex-grow: 1;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
 align-content: flex-start;
 flex-direction: row;
 overflow-x: hidden;
 background-color: rgba(18, 38, 38, 1);
 padding-top: 5px;
 padding-right: 5px;
 padding-bottom: 5px;
 padding-left: 5px;
 transition: 0.2s;
 box-sizing: border-box;
}



.container-1935369f8651 {

 display: flex;
 width: 100%;
 min-height: 100px;
 gap: 0.25em;
 flex-grow: 1;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
 align-content: flex-start;
 flex-direction: row;
 overflow-x: hidden;
 padding-top: 0.25%;
 padding-bottom: 0.25%;
 transition: 0.2s;
 box-sizing: border-box;
}



.child-1935369f8741 {

 display: flex;
 width: 33%;
 min-height: 70vh;
 gap: 1em;
 flex-grow: 1;
 justify-content: flex-start;
 flex-direction: column;
 background-color: rgba(189, 189, 189, 0.53);
 padding-top: 1%;
 padding-right: 1%;
 padding-bottom: 1%;
 padding-left: 1%;
 box-sizing: border-box;
}



@media screen and (max-width: 600px) {
.child-1935369f8741 {

 width: 100%;
}

}
.child-1935369f87c1 {

 display: flex;
 width: 33%;
 min-height: 70vh;
 gap: 1em;
 flex-grow: 1;
 justify-content: flex-start;
 flex-direction: column;
 background-color: rgba(189, 189, 189, 0.5);
 padding-top: 1%;
 padding-right: 1%;
 padding-bottom: 1%;
 padding-left: 1%;
 box-sizing: border-box;
}



@media screen and (max-width: 600px) {
.child-1935369f87c1 {

 width: 100%;
}

}
.H3-19361cddab41 {

 max-width: 100%;
 padding-top: 1%;
 padding-right: 1%;
 padding-bottom: 1%;
 padding-left: 1%;
 font-family: Lato;
 font-size: 1.2em;
}



.lazyclass19361ce487c1 {

 max-width: 100%;
 padding-top: 1%;
 padding-right: 1%;
 padding-bottom: 1%;
 padding-left: 1%;
 font-family: Lato;
 font-size: 1.2em;
}



.child-1935369f8851 {

 display: flex;
 width: 33%;
 min-height: 70vh;
 gap: 1em;
 flex-grow: 1;
 justify-content: flex-start;
 flex-direction: column;
 background-color: rgba(189, 189, 189, 0.53);
 padding-top: 1%;
 padding-right: 1%;
 padding-bottom: 1%;
 padding-left: 1%;
 box-sizing: border-box;
}



@media screen and (max-width: 600px) {
.child-1935369f8851 {

 width: 100%;
}

}
.container-1935369ffc41 {

 display: flex;
 width: 100%;
 min-height: 100px;
 gap: 1em;
 flex-grow: 1;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
 align-content: flex-start;
 flex-direction: row;
 overflow-x: hidden;
 background-color: rgba(177, 32, 32, 1);
 padding-top: 5px;
 padding-right: 5px;
 padding-bottom: 5px;
 padding-left: 5px;
 transition: 0.2s;
 box-sizing: border-box;
}

</style>


<section id="container-1935369e1bb1" class="container-1935369e1bb1" lazydev="1935369e1bb1">
      
      </section>

      <section id="container-1935369f8651" class="container-1935369f8651" lazydev="1935369f8651">
      <div id="child-1935369f8741" class="child-1935369f8741" lazydev="1935369f8741">
      
      </div>

      <div id="child-1935369f87c1" class="child-1935369f87c1" lazydev="1935369f87c1">
      <h3 id="h3-19361cddab41" class="H3-19361cddab41" lazydev="19361cddab41">
      <icon id="icon-19361cddab41" class="fa-solid fa-eye" style="padding-right: 1em;">
      
      </icon>

      
	icon mata

      </h3>

      <h3 id="lazyid19361ce487c1" class="lazyclass19361ce487c1" lazydev="19361ce487c1">
      <icon id="icon-19361ce487c1" class="fa-solid fa-eye" style="padding-right: 1em;">
      
      </icon>

      
	icon mata

      </h3>

      
      </div>

      <div id="child-1935369f8851" class="child-1935369f8851" lazydev="1935369f8851">
      
      </div>

      
      </section>

      <section id="container-1935369ffc41" class="container-1935369ffc41" lazydev="1935369ffc41">
      
      </section>

            <%- include('jsa-sidebar') %>
        </section>
        
    </body>
</html>