
<html>
    <head>
        <title>JS Admin Custom Function</title>
        <%- include('jsa-head') %>
    </head>
    <body>
      <section id="js-press-dashboard-container" class="js-press-dashboard-container" lazydev="18e0835fb461">
        <div id="js-admin-custom_function-dashboard" class="js-admin-custom_function-dashboard" lazydev="18e08368b351">
        <div id="js-custom_function-page-head" class="js-custom_function-page-head" lazydev="18e08a3790e1">
        <div id="div-18e1292c9281" class="DIV-18e1292c9281" lazydev="18e1292c9281">
        <h4 id="js-press-custom_function-title" class="js-press-custom_function-title" lazydev="18e08a465971">
        
    Custom Function
  
        </h4>
  
        <h6 id="create-new-function" class="lazyclass18e1294df881" lazydev="18e1294df881">
        <icon id="icon-18e1294df881" class="fa-solid fa-circle-plus" style="padding-right: 1em;">
        
        </icon>
  
        
    Add New Custom Function
  
        </h6>
  
        
        </div>
  
        <div id="js-press-head-menu-custom_function" class="js-press-head-menu-custom_function" lazydev="18e08d749551">
        <input type="search" id="js-press-folder-search-custom_function" class="js-press-folder-search-custom_function" lazydev="18e08d9525c1" placeholder="Search">
        <h6 id="js-press-folder-searchbutton-custom_function" class="js-press-folder-searchbutton-custom_function" lazydev="18e08dc683a1">
        <icon id="icon-18e08dc683a1" class="fa fa-search" style="padding-right: 1em;">
        
        </icon>
  
        
    <br>
        
  
        </h6>
  
        
        </div>
  
        
        </div>
  
        <div id="js-custom_function-body" class="js-custom_function-body" lazydev="18e08a400c91">
            <div id="loading-icon" class="loading-icon none-mode">
                <i class="fas fa-spinner icon-spin"></i> <!-- Font Awesome spinner icon -->
              </div>
        <div id="js-press-custom_function-list-container" class="js-press-custom_function-list-container" lazydev="18e08a5bfd61">
        <!-- <div id="div-18e08b991641" class="DIV-18e08b991641" lazydev="18e08b991641">
        <span id="js-press-custom_function-list-title" class="js-press-custom_function-list-title" lazydev="18e08a7545f1">
        
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;
  
        </span>
  
        
        </div>
  
        <div id="js-press-custom_function-list-action" class="js-press-custom_function-list-action" lazydev="18e08a7ebed1">
        <span id="lazyid18e08a805dd1" class="lazyclass18e08a805dd1" lazydev="18e08a805dd1">
        
    Actions
  
        </span>
  
        <div id="div-18e08a8f77f1" class="DIV-18e08a8f77f1" lazydev="18e08a8f77f1">
        <i id="js-press-custom_function-list-edit" class="js-press-custom_function-list-edit  fa fa-edit" lazydev="18e08ab35c71" title="Edit Pagesetting">
        
        </i>
  
        <i id="js-press-custom_function-list-duplicate" class="js-press-custom_function-list-duplicate  fa fa-copy" lazydev="18e08aee7651" title="Duplicate">
        
        </i>
  
        <i id="js-press-custom_function-list-delete" class="js-press-custom_function-list-delete  fa fa-trash" lazydev="18e08b303151" title="Delete">
        
        </i>
  
        
        </div>
  
        
        </div> -->
  
        
        </div>
  
        <div id="js-press-custom_function-pagination-container" class="js-press-custom_function-pagination-container" lazydev="18e08dfd5951">
        <div id="js-press-custom_function-pagination" class="js-press-custom_function-pagination" lazydev="18e08e073531">
        &lt;&lt;
        </div>
  
        <div id="lazyid18e08e2d5b31" class="lazyclass18e08e2d5b31 js-press-custom_function-pagination" lazydev="18e08e2d5b31">
        &lt;
        </div>
  
        <div id="lazyid18e0d6683071" class="lazyclass18e0d6683071 js-press-custom_function-pagination" lazydev="18e0d6683071">
        1
        </div>
  
        <div id="lazyid18e0d6592b81" class="lazyclass18e0d6592b81 js-press-custom_function-pagination" lazydev="18e0d6592b81">
        2
        </div>
  
        <div id="lazyid18e0d659ca01" class="lazyclass18e0d659ca01 js-press-custom_function-pagination" lazydev="18e0d659ca01">
        3
        </div>
  
        <div id="lazyid18e0d65a6d81" class="lazyclass18e0d65a6d81 js-press-custom_function-pagination" lazydev="18e0d65a6d81">
        4
        </div>
  
        <div id="lazyid18e0d65af501" class="lazyclass18e0d65af501 js-press-custom_function-pagination" lazydev="18e0d65af501">
        5
        </div>
  
        <div id="lazyid18e0d66904f1" class="lazyclass18e0d66904f1 js-press-custom_function-pagination" lazydev="18e0d66904f1">
        &gt;
        </div>
  
        <div id="lazyid18e0d65b7ef1" class="lazyclass18e0d65b7ef1 js-press-custom_function-pagination" lazydev="18e0d65b7ef1">
        &gt;&gt;
        </div>
  
        
        </div>
  
        
        </div>
  
        
        </div>
        <%- include('jsa-sidebar') %>
        <script src="/public/function/cf.js"></script>
      </section>
        
    </body>
</html>