
<html>
    <head>
        <title>JS Admin Plugin</title>
        <%- include('jsa-head') %>
    </head>
    <body>
        <section id="js-press-dashboard-container" class="js-press-dashboard-container" lazydev="18e0835fb461">
            <div id="js-admin-Plugins-dashboard" class="js-admin-Plugins-dashboard" lazydev="18e08368b351">
            <div id="js-Plugins-page-head" class="js-Plugins-page-head" lazydev="18e08a3790e1">
            <h4 id="js-press-Plugins-title" class="js-press-Plugins-title" lazydev="18e08a465971">
            
          Plugins
      
            </h4>
      
            <a id="community-plugin-link" class="community-plugin-link" lazydev="18e179afa921" href="#">
            This feature is not available yet
            </a>
      
            <div id="js-press-head-menu-Plugins" class="js-press-head-menu-Plugins" lazydev="18e08d749551">
            <h6 id="add-new-Plugins-button" class="add-new-Plugins-button" lazydev="18e08d843b41">
            <icon id="icon-18e08d843b41" class="fa-solid fa-file-circle-plus" style="padding-right: 1em;">
            
            </icon>
      
            
          Add New Plugin
      
            </h6>
      
            <input type="search" id="js-press-folder-search-Plugins" class="js-press-folder-search-Plugins" lazydev="18e08d9525c1" placeholder="Search">
            <h6 id="js-press-folder-searchbutton-Plugins" class="js-press-folder-searchbutton-Plugins" lazydev="18e08dc683a1">
            <icon id="icon-18e08dc683a1" class="fa fa-search" style="padding-right: 1em;">
            
            </icon>
      
            
          <br>
            
      
            </h6>
      
            
            </div>
      
            
            </div>
      
            <div id="js-Plugins-page-body" class="js-Plugins-page-body" lazydev="18e08a400c91">
            <div id="js-press-Plugins-list-container" class="js-press-Plugins-list-container" lazydev="18e08a5bfd61">
            <div id="div-18e08b991641" class="DIV-18e08b991641" lazydev="18e08b991641">
            <span id="js-press-Plugins-list-title" class="js-press-Plugins-list-title" lazydev="18e08a7545f1">
            
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;
      
            </span>
      
            
            </div>
      
            <div id="js-press-Plugins-list-action" class="js-press-Plugins-list-action" lazydev="18e08a7ebed1">
            <span id="lazyid18e08a805dd1" class="lazyclass18e08a805dd1" lazydev="18e08a805dd1">
            
          Actions
      
            </span>
      
            <div id="div-18e08a8f77f1" class="DIV-18e08a8f77f1" lazydev="18e08a8f77f1">
            <i id="js-press-Plugins-list-edit" class="js-press-Plugins-list-edit  fas fa-tools" lazydev="18e08ab35c71" title="Plugin Setting">
            
            </i>
      
            <i id="js-press-Plugins-list-activate" class="js-press-Plugins-list-activate  fa fa-play" lazydev="18e179dce611" title="Activate This Plugin">
            
            </i>
      
            <i id="js-press-Plugins-list-deactive" class="js-press-Plugins-list-deactive  fa-solid fa-circle-stop" lazydev="18e179f34491" title="Deactivate This Plugin">
            
            </i>
      
            <i id="js-press-Plugins-list-delete" class="js-press-Plugins-list-delete  fa fa-trash" lazydev="18e08b303151" title="Delete">
            
            </i>
      
            
            </div>
      
            
            </div>
      
            
            </div>
      
            <div id="js-press-Plugins-pagination-container" class="js-press-Plugins-pagination-container" lazydev="18e08dfd5951">
            <div id="js-press-Plugins-pagination" class="js-press-Plugins-pagination" lazydev="18e08e073531">
            &lt;&lt;
            </div>
      
            <div id="lazyid18e08e2d5b31" class="lazyclass18e08e2d5b31 js-press-Plugins-pagination" lazydev="18e08e2d5b31">
            &lt;
            </div>
      
            <div id="lazyid18e0d6683071" class="lazyclass18e0d6683071 js-press-Plugins-pagination" lazydev="18e0d6683071">
            1
            </div>
      
            <div id="lazyid18e0d6592b81" class="lazyclass18e0d6592b81 js-press-Plugins-pagination" lazydev="18e0d6592b81">
            2
            </div>
      
            <div id="lazyid18e0d659ca01" class="lazyclass18e0d659ca01 js-press-Plugins-pagination" lazydev="18e0d659ca01">
            3
            </div>
      
            <div id="lazyid18e0d65a6d81" class="lazyclass18e0d65a6d81 js-press-Plugins-pagination" lazydev="18e0d65a6d81">
            4
            </div>
      
            <div id="lazyid18e0d65af501" class="lazyclass18e0d65af501 js-press-Plugins-pagination" lazydev="18e0d65af501">
            5
            </div>
      
            <div id="lazyid18e0d66904f1" class="lazyclass18e0d66904f1 js-press-Plugins-pagination" lazydev="18e0d66904f1">
            &gt;
            </div>
      
            <div id="lazyid18e0d65b7ef1" class="lazyclass18e0d65b7ef1 js-press-Plugins-pagination" lazydev="18e0d65b7ef1">
            &gt;&gt;
            </div>
      
            
            </div>
      
            
            </div>
      
            
            </div>
            <%- include('jsa-sidebar') %>
        </section>
        
    </body>
</html>