
<html>
    <head>
        <title>JS Admin Folder</title>
        <%- include('jsa-head') %>
    </head>
    <body>
        <section id="js-press-dashboard-container" class="js-press-dashboard-container" lazydev="18e0835fb461">
          <div id="js-admin-folder-dashboard" class="js-admin-folder-dashboard" lazydev="18e08368b351">
      




            <div id="js-folder-page-head" class="js-folder-page-head" lazydev="18e08a3790e1">
                  <h4 id="js-press-folder-title" class="js-press-folder-title" lazydev="18e08a465971">
                  
              Folders
            
                  </h4>
            
                  <div id="js-press-head-menu-folder" class="js-press-head-menu-folder" lazydev="18e08d749551">
                  <h6 id="add-new-folder-button" class="add-new-folder-button" lazydev="18e08d843b41">
                  <icon id="icon-18e08d843b41" class="fa-solid fa-file-circle-plus" style="padding-right: 1em;">
                  
                  </icon>
            
                  
              Add New Folders
            
                  </h6>
            
                  <input type="search" id="js-press-folder-search-folder" class="js-press-folder-search-folder" lazydev="18e08d9525c1" placeholder="Search">
                  <h6 id="js-press-folder-searchbutton-folder" class="js-press-folder-searchbutton-folder" lazydev="18e08dc683a1">
                  <icon id="icon-search-folder" class="fa fa-search" style="padding-right: 1em;">
                  
                  </icon>
            
                  
              <br>
                  
            
                  </h6>
            
                  
                  </div>
            
                  
                  </div>
            
                  
            
            <div id="js-folder-page-body" class="js-folder-page-body" lazydev="18e08a400c91">
                <div id="loading-icon" class="loading-icon none-mode">
                    <i class="fas fa-spinner icon-spin"></i> <!-- Font Awesome spinner icon -->
                  </div>
                  <!-- <div id="js-press-folder-list-container" class="js-press-folder-list-container" lazydev="18e08a5bfd61">
                  <div id="div-18e08b991641" class="DIV-18e08b991641" lazydev="18e08b991641">
                  <span id="js-press-folder-list-title" class="js-press-folder-list-title" lazydev="18e08a7545f1">
                  
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;
            
                  </span>
            
                  
                  </div>
            
                  <div id="js-press-folder-list-action" class="js-press-folder-action" lazydev="18e08a7ebed1">
                  <span id="lazyid18e08a805dd1" class="lazyclass18e08a805dd1" lazydev="18e08a805dd1">
                  
              Actions
            
                  </span>
            
                  <div id="div-18e08a8f77f1" class="DIV-18e08a8f77f1" lazydev="18e08a8f77f1">
                  <i id="js-press-folder-list-edit" class="js-press-folder-list-edit  fa fa-edit" lazydev="18e08ab35c71" title="Edit Folder">
                  
                  </i>
            
                  <i id="js-press-folder-list-delete" class="js-press-folder-list-delete  fa fa-trash" lazydev="18e08b303151" title="Delete">
                  
                  </i>
            
                  
                  </div>
            
                  
                  </div>
            
                  
                  </div> -->
            
                  <div id="js-press-folder-pagination-container" class="js-press-folder-pagination-container" lazydev="18e08dfd5951">
                  
                <!-- <div id="js-press-folder-pagination" class="js-press-folder-pagination" lazydev="18e08e073531">
                  &lt;&lt;
                  </div>
            
                  <div id="lazyid18e08e2d5b31" class="lazyclass18e08e2d5b31 js-press-folder-pagination" lazydev="18e08e2d5b31">
                  &lt;
                  </div>
            
                  <div id="lazyid18e0d6683071" class="lazyclass18e0d6683071 js-press-folder-pagination" lazydev="18e0d6683071">
                  1
                  </div>
            
                  <div id="lazyid18e0d6592b81" class="lazyclass18e0d6592b81 js-press-folder-pagination" lazydev="18e0d6592b81">
                  2
                  </div>
            
                  <div id="lazyid18e0d659ca01" class="lazyclass18e0d659ca01 js-press-folder-pagination" lazydev="18e0d659ca01">
                  3
                  </div>
            
                  <div id="lazyid18e0d65a6d81" class="lazyclass18e0d65a6d81 js-press-folder-pagination" lazydev="18e0d65a6d81">
                  4
                  </div>
            
                  <div id="lazyid18e0d65af501" class="lazyclass18e0d65af501 js-press-folder-pagination" lazydev="18e0d65af501">
                  5
                  </div>
            
                  <div id="lazyid18e0d66904f1" class="lazyclass18e0d66904f1 js-press-folder-pagination" lazydev="18e0d66904f1">
                  &gt;
                  </div>
            
                  <div id="lazyid18e0d65b7ef1" class="lazyclass18e0d65b7ef1 js-press-folder-pagination" lazydev="18e0d65b7ef1">
                  &gt;&gt;
                  </div> -->
            
                  
                  </div>
            
                  
                  </div>
            
                  
            
                  </div>
            <%- include('jsa-sidebar') %>
            <script src="/public/function/folder.js"></script>
        </section>
        
    </body>
</html>