
<html>
    <head>
        <title>JS Admin Dashboard</title>
        <%- include('jsa-head') %>
    </head>
    <body>
        <section id="js-press-dashboard-container" class="js-press-dashboard-container" lazydev="18e0835fb461" style="opacity: 1; transform: translate(0px, 0px);">
            <div id="js-admin-main-dashboard" class="js-admin-main-dashboard" lazydev="18e08368b351">
            <div id="js-press-dashboard-welcome" class="js-press-dashboard-welcome" lazydev="18e085126a71">
            <h1 id="js-press-dashboard-welcome-text" class="js-press-dashboard-welcome-text" lazydev="18e08562d531">
            
          Welcome to JS-Press Dashboard&nbsp;
      
            </h1>
      
            <a href="/admin/configuration" id="js-press-dashboard-welcome-button" class="js-press-dashboard-welcome-button" lazydev="18dd05e1bd31" type="button">
            <icon id="icon-18dd05e1bd31" class="fa fa-edit" style="padding-right: 1em;">
            
            </icon>
      
            Edit Your Site
          </a>
      
            
            </div>
      
            <div id="js-press-dashboard-condition" class="js-press-dashboard-condition" lazydev="18e085119c01">
            <h1 id="js-press-dashboard-condition-text" class="js-press-dashboard-condition-text" lazydev="18e086df1691">
            
          Website Statistic
      
            </h1>
      
            <div id="js-press-dashboard-condition-wrapper" class="js-press-dashboard-condition-wrapper" lazydev="18e086ea18a1">
            <div id="js-press-dashboard-condition-wrapper-components" class="js-press-dashboard-condition-wrapper-components" lazydev="18e0870ae5a1">
            <span id="js-press-dashboard-condition-wrapper-components-text" class="js-press-dashboard-condition-wrapper-components-text" lazydev="18e086f30111">
            
          Total Components
      
            </span>
      
            <span id="js-press-dashboard-condition-wrapper-pages-value" class="js-press-dashboard-condition-wrapper-pages-value" lazydev="18e0870dc591">
            
          
      
            </span>
      
            
            </div>
      
            <div id="js-press-dashboard-condition-wrapper-pages" class="js-press-dashboard-condition-wrapper-pages" lazydev="18e08726a4b1">
            <span id="js-press-dashboard-condition-wrapper-pages-text" class="js-press-dashboard-condition-wrapper-pages-text" lazydev="18e08726a421">
            
          Total Pages
      
            </span>
      
            <span id="dashboard_total_page" class="lazyclass18e08726a461" lazydev="18e08726a461">
            
          
      
            </span>
      
            
            </div>

            <div id="js-press-dashboard-condition-wrapper-visitors" class="js-press-dashboard-condition-wrapper-visitors" lazydev="18e0872aaaf1">
              <span id="js-press-dashboard-condition-wrapper-visitors-text" class="js-press-dashboard-condition-wrapper-visitors-text" lazydev="18e0872aaa81">
              
            Total Posts
        
              </span>
        
              <span id="dashboard_total_post" class="js-press-dashboard-condition-wrapper-visitors-value" lazydev="18e0872aaab1">
              
            
        
              </span>
        
              
              </div>
      
            <div id="js-press-dashboard-condition-wrapper-users" class="js-press-dashboard-condition-wrapper-users" lazydev="18e087273a21">
            <span id="js-press-dashboard-condition-wrapper-users-text" class="js-press-dashboard-condition-wrapper-users-text" lazydev="18e0872739b1">
            
          Total Users
      
            </span>
      
            <span id="dashboard_total_users" class="js-press-dashboard-condition-wrapper-users-value" lazydev="18e0872739e1">
            
          
      
            </span>
      
            
            </div>
      
            
            </div>
      
            
            </div>
      
            <div id="js-press-dashboard-components" class="js-press-dashboard-top_pages none-mode" lazydev="18e08759a6b1">
              <h1 class="js-press-dashboard-top_pages-title" lazydev="18e08759a431">
              
            Recent Components
        
              </h1>
        
              <div id="js-press-dashboard-components-wrapper" class="js-press-dashboard-top_pages-wrapper" lazydev="18e08759a471">
              
        
              
              </div>
        
              
              </div>
      
            <div id="js-press-dashboard-pages" class="js-press-dashboard-top_pages none-mode" lazydev="18e08759a6b1">
            <h1 id="js-press-dashboard-top_pages-title" class="js-press-dashboard-top_pages-title" lazydev="18e08759a431">
            
          Recent Pages
      
            </h1>
      
            <div id="js-press-dashboard-top_pages-wrapper" class="js-press-dashboard-top_pages-wrapper" lazydev="18e08759a471">
           
      
            
            </div>
      
            
            </div>
      
            
            </div>
            <%- include('jsa-sidebar') %>
            <script src="/public/function/dashboard.js"></script>
        </section>
    </body>
</html>