
<html>
    <head>
        <title>JS Admin Page</title>
        <%- include('jsa-head') %>
    </head>
    <body>
        
      <section id="js-press-dashboard-container" class="js-press-dashboard-container" lazydev="18e0835fb461">
        <div id="js-admin-page-dashboard" class="js-admin-page-dashboard" lazydev="18e08368b351">
        <div id="js-page-page-head" class="js-page-page-head" lazydev="18e08a3790e1">
        <h4 id="js-press-page-title" class="js-press-page-title" lazydev="18e08a465971">
        
      Pages
  
        </h4>
  
        <div id="js-press-head-menu-page" class="js-press-head-menu-page" lazydev="18e08d749551">
        <h6 id="js-press-add-new-page" class="js-press-add-new-page" lazydev="18e08d843b41">
        <icon id="icon-18e08d843b41" class="fa-solid fa-file-circle-plus" style="padding-right: 1em;">
        
        </icon>
  
        
      Add New Page
  
        </h6>
  
        <select id="js-press-folder-select-page" class="js-press-folder-select-page" lazydev="18e08e4a6ac1" selectoption="{Value1,Component Category 1},{Value2,Component Category 2,selected},{Value3,Component Category 3}">
          <option value="all-folder">
            All Folder
          </option> 
          <option value="main-page">
            Main Page
          </option> 
        </select>
  
        <input type="search" id="js-press-folder-search-page" class="js-press-folder-search-page" lazydev="18e08d9525c1" placeholder="Search">
        <h6 id="js-press-folder-searchbutton-page" class="js-press-folder-searchbutton-page" lazydev="18e08dc683a1">
        <icon id="icon-18e08dc683a1" class="fa fa-search" style="padding-right: 1em;">
        
        </icon>
  
        
      <br>
        
  
        </h6>
  
        
        </div>
  
        
        </div>
  
        <div id="js-page-page-body" class="js-page-page-body" lazydev="18e08a400c91">
          <div id="loading-icon" class="loading-icon none-mode">
            <i class="fas fa-spinner icon-spin"></i> <!-- Font Awesome spinner icon -->
          </div>
  
        <div id="js-press-page-pagination-container" class="js-press-page-pagination-container" lazydev="18e08dfd5951">
               
        </div>
  
        
        </div>
  
        
        </div>  
        <%- include('jsa-sidebar') %>
        <script src="/public/function/page.js"></script>
       </section>
        
    </body>
</html>