
<html>
    <head>
        <title>JS Admin Comment</title>
        <%- include('jsa-head') %>
    </head>
    <body>
        <section id="js-press-dashboard-container" class="js-press-dashboard-container" lazydev="18e0835fb461">
            <div id="js-admin-comments-dashboard" class="js-admin-comments-dashboard" lazydev="18e08368b351">
            <div id="js-comments-page-head" class="js-comments-page-head" lazydev="18e08a3790e1">
            <h4 id="js-press-comments-title" class="js-press-comments-title" lazydev="18e08a465971">
            
          Comments
      
            </h4>
      
            <div id="js-press-head-menu-comments" class="js-press-head-menu-comments" lazydev="18e08d749551">
            <input type="search" id="js-press-folder-search-comments" class="js-press-folder-search-comments" lazydev="18e08d9525c1" placeholder="Search">
            <h6 id="js-press-folder-searchbutton-comments" class="js-press-folder-searchbutton-comments" lazydev="18e08dc683a1">
            <icon id="icon-18e08dc683a1" class="fa fa-search" style="padding-right: 1em;">
            
            </icon>
      
            
          <br>
            
      
            </h6>
      
            
            </div>
      
            
            </div>
      
            <div id="js-comments-page-body" class="js-comments-page-body" lazydev="18e08a400c91">
              <div id="loading-icon" class="loading-icon none-mode">
                <i class="fas fa-spinner icon-spin"></i> <!-- Font Awesome spinner icon -->
              </div>
      
            <div id="js-press-comments-pagination-container" class="js-press-comments-pagination-container" lazydev="18e08dfd5951">
            <div id="js-press-comments-pagination" class="js-press-comments-pagination" lazydev="18e08e073531">
            &lt;&lt;
            </div>
      
            <div id="lazyid18e08e2d5b31" class="lazyclass18e08e2d5b31 js-press-comments-pagination" lazydev="18e08e2d5b31">
            &lt;
            </div>
      
            <div id="lazyid18e0d6683071" class="lazyclass18e0d6683071 js-press-comments-pagination" lazydev="18e0d6683071">
            1
            </div>
      
            <div id="lazyid18e0d6592b81" class="lazyclass18e0d6592b81 js-press-comments-pagination" lazydev="18e0d6592b81">
            2
            </div>
      
            <div id="lazyid18e0d659ca01" class="lazyclass18e0d659ca01 js-press-comments-pagination" lazydev="18e0d659ca01">
            3
            </div>
      
            <div id="lazyid18e0d65a6d81" class="lazyclass18e0d65a6d81 js-press-comments-pagination" lazydev="18e0d65a6d81">
            4
            </div>
      
            <div id="lazyid18e0d65af501" class="lazyclass18e0d65af501 js-press-comments-pagination" lazydev="18e0d65af501">
            5
            </div>
      
            <div id="lazyid18e0d66904f1" class="lazyclass18e0d66904f1 js-press-comments-pagination" lazydev="18e0d66904f1">
            &gt;
            </div>
      
            <div id="lazyid18e0d65b7ef1" class="lazyclass18e0d65b7ef1 js-press-comments-pagination" lazydev="18e0d65b7ef1">
            &gt;&gt;
            </div>
      
            
            </div>
      
            
            </div>
      
            
            </div>
            <%- include('jsa-sidebar') %>
            <script src="/public/function/comment.js"></script>
        </section>
        
    </body>
</html>