
<html>
    <head>
        <title>JS Admin Components</title>
        <%- include('jsa-head') %>
    </head>
    <body>
        <section id="js-press-dashboard-container" class="js-press-dashboard-container" lazydev="18e0835fb461">
            <div id="js-admin-component-dashboard" class="js-admin-component-dashboard" lazydev="18e08368b351">
            <div id="js-component-page-head" class="js-component-page-head" lazydev="18e08a3790e1">
            <h4 id="js-press-component-title" class="js-press-component-title" lazydev="18e08a465971">
            
          Components
      
            </h4>
      
            <div id="js-press-head-menu" class="js-press-head-menu" lazydev="18e08d749551">
            <h6 id="Add-new-Component" class="H6-18e08d843b41" lazydev="18e08d843b41">
            <icon id="icon-18e08d843b41" class="fa-solid fa-file-circle-plus" style="padding-right: 1em;">
            
            </icon>
      
            
          Add New Components
      
            </h6>
      
            <select id="js-press-folder-select" class="SELECT-18e08e4a6ac1" lazydev="18e08e4a6ac1" selectoption="{Value1,Component Category 1},{Value2,Component Category 2,selected},{Value3,Component Category 3}">
            <option value="all-folder">
            All Folder
            </option> 
            </select>
      
            <h6 id="js-press-import" class="lazyclass18e0dae853f1" lazydev="18e0dae853f1">
            <icon id="icon-18e0dae853f1" class="fas fa-file-import" style="padding-right: 1em;">
            
            </icon>
      
            
          Import Component
      
            </h6>
      
            <input type="search" id="input-18e08d9525c1" class="INPUT-18e08d9525c1" lazydev="18e08d9525c1" placeholder="Search">
            <h6 id="lazyid18e08dc683a1" class="lazyclass18e08dc683a1" lazydev="18e08dc683a1">
            <icon id="icon-18e08dc683a1" class="fa fa-search" style="padding-right: 1em;">
            
            </icon>
      
            
          <br>
            
      
            </h6>
      
            
            </div>
      
            
            </div>
      
            <div id="js-component-page-body" class="js-component-page-body" lazydev="18e08a400c91">
              <div id="loading-icon" class="loading-icon none-mode">
                <i class="fas fa-spinner icon-spin"></i> <!-- Font Awesome spinner icon -->
              </div>
            <!-- <div id="js-press-component-list-container" class="js-press-component-list-container" lazydev="18e08a5bfd61">
            <div id="div-18e08b991641" class="DIV-18e08b991641" lazydev="18e08b991641">
            <span id="js-press-component-list-title" class="js-press-component-list-title" lazydev="18e08a7545f1">
            
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;
      
            </span>
      
            
            </div>
      
            <div id="js-press-component-list-action" class="js-press-component-list-action" lazydev="18e08a7ebed1">
            <span id="lazyid18e08a805dd1" class="lazyclass18e08a805dd1" lazydev="18e08a805dd1">
            
          Actions
      
            </span>
      
            <div id="div-18e08a8f77f1" class="DIV-18e08a8f77f1" lazydev="18e08a8f77f1">
            <i id="js-press-component-list-edit_detail" class="js-press-component-list-edit_detail  fa fa-edit" lazydev="18e08ab35c71" title="Edit Detail">
            
            </i>
      
            <i id="js-press-component-list-open_editor" class="js-press-component-list-open_editor  fas fa-pen-nib" lazydev="18e08b0aff51" title="Open Editor">
            
            </i>
      
            <i id="lazyid18e0d71f9481" class="lazyclass18e0d71f9481  fa fa-cut" lazydev="18e0d71f9481" title="Open Slicer">
            
            </i>
      
            <i id="js-press-component-list-duplicate" class="js-press-component-list-duplicate  fa fa-copy" lazydev="18e08aee7651" title="Duplicate">
            
            </i>
      
            <i id="js-press-component-list-export" class="js-press-component-list-export  fa fa-paper-plane" lazydev="18e08af33661" title="Export">
            
            </i>
      
            <i id="js-press-component-list-delete" class="js-press-component-list-delete  fa fa-trash" lazydev="18e08b303151" title="Delete">
            
            </i>
      
            
            </div>
      
            
            </div>
      
            
            </div> -->
      
            <div id="js-press-component-pagination-container" class="js-press-component-pagination-container" lazydev="18e08dfd5951">
            
              <!-- <div id="js-press-component-pagination" class="js-press-component-pagination" lazydev="18e08e073531">
            &lt;&lt;
            </div> -->
      
            <!-- <div id="lazyid18e08e2d5b31" class="lazyclass18e08e2d5b31 js-press-component-pagination" lazydev="18e08e2d5b31">
            &lt;
            </div>
      
            <div id="lazyid18e0d6683071" class="lazyclass18e0d6683071 js-press-component-pagination" lazydev="18e0d6683071">
            1
            </div>
      
            <div id="lazyid18e0d6592b81" class="lazyclass18e0d6592b81 js-press-component-pagination" lazydev="18e0d6592b81">
            2
            </div>
      
            <div id="lazyid18e0d659ca01" class="lazyclass18e0d659ca01 js-press-component-pagination" lazydev="18e0d659ca01">
            3
            </div>
      
            <div id="lazyid18e0d65a6d81" class="lazyclass18e0d65a6d81 js-press-component-pagination" lazydev="18e0d65a6d81">
            4
            </div>
      
            <div id="lazyid18e0d65af501" class="lazyclass18e0d65af501 js-press-component-pagination" lazydev="18e0d65af501">
            5
            </div>
      
            <div id="lazyid18e0d66904f1" class="lazyclass18e0d66904f1 js-press-component-pagination" lazydev="18e0d66904f1">
            &gt;
            </div>
      
            <div id="lazyid18e0d65b7ef1" class="lazyclass18e0d65b7ef1 js-press-component-pagination" lazydev="18e0d65b7ef1">
            &gt;&gt;
            </div> -->
      
            
            </div>
      
            
            </div>
      
            
            </div>
            <%- include('jsa-sidebar') %>
            <script src="/public/function/component.js"></script>
        </section>
        
    </body>
</html>